.brand_container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 0 5%;
	margin: 2rem 0;
	background-color: var(--yellow);
	height: 10rem;
}

.brand_container > img {
	height: 3.5rem;
	width: auto;
	object-fit: fill;
	mix-blend-mode: color-burn;
}

@media (width<=1200px) {
	.brand_container {
		height: 9rem;
	}
	.brand_container > img {
		height: 2.5rem;
	}
}
@media (width<= 800px) {
	.brand_container {
		height: 8rem;
	}
	.brand_container > img {
		height: 1.5rem;
	}
}
@media (width<= 600px) {
	.brand_container {
		height: 7rem;
	}
	.brand_container > img {
		height: 1.35rem;
	}
}
@media (width<= 425px) {
	.brand_container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		align-items: center;
		padding: 0 0;
		margin: 2rem 0;
	}
	.brand_container > img {
		margin: auto;
	}
}
