.header_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 3rem;
	padding-bottom: 2rem;
}

img {
	width: 24px;
	height: 24px;
	object-fit: contain;
}

.logo_container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}
.logo_name {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	height: 4rem;
}

.navbar ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 2rem;
}

.navbar li {
	list-style: none;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1rem;
	cursor: pointer;
}

.signup {
	background-color: var(--black);
	color: var(--white);
	outline: none;
	border-width: 0;
	height: 3rem;
	width: 6rem;
	border-radius: 0.25rem;
	text-transform: uppercase;
	cursor: pointer;
}

.toggle_button {
	display: none;
	position: absolute;
	top: 3.5rem;
	right: 3rem;
	z-index: 12;
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.mobile_navbar ul {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20rem;
	background-color: var(--yellow);
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 10rem;
	padding-bottom: 5rem;
	align-items: center;
	gap: 2rem;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}

.mobile_navbar li {
	list-style: none;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 2rem;
	cursor: pointer;
}

@media (width > 850px) {
	.toggle_button {
		display: none;
	}
	.mobile_navbar {
		display: none;
	}
}

@media (width <= 850px) {
	.navbar ul {
		display: none;
	}
	.toggle_button {
		display: flex;
	}
	.signup {
		height: 4rem;
		width: 10rem;
		font-size: 1.5rem;
	}
}

@media (width<=450px) {
	.navbar ul {
		display: none;
	}
	.mobile_navbar {
		display: flex;
	}
	.mobile_navbar ul {
		width: 100%;
	}
}
