.arrival_container {
	margin: 0 3rem;
}

.arrival_container > h1 {
	font-size: 3rem;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	margin-bottom: 3rem;
}

.arrival_container > h1::before {
	content: url(../../assets//leaf.png);
	position: absolute;
	height: 2rem;
	object-fit: contain;
	top: 1rem;
	right: -1rem;
	z-index: -1;
}

.arrivals {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* align-items: center; */
	gap: 1rem;
}

.category_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.outfitImg img {
	width: 100%;
	min-width: 20rem;
	height: 100%;
	object-fit: contain;
}

.action {
	display: flex;
	width: 100%;
	min-width: 20rem;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
}

.details p {
	font-size: 2rem;
	font-weight: 600;
	color: var(--black);
	line-height: 50px;
}

.details span {
	font-size: 1.2rem;
	color: var(--gray);
	line-height: 50px;
}

@media only screen and (max-width: 800px) {
	/*Small smartphones [325px -> 425px]*/
}
